<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            <p>This man in the photo has nothing to do with this project. It is the work of a computer science student.</p>
            {{>header}}
            <img class="portrait" src="/img/hero.jpg" alt="Firefighters">
        </div>
        
        {{>footer}}
    </body>
</html>